h1 {
    font-size: 5em;
}

main {
    border: 1em solid #ccc;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60em;
}


#expresion {
    width: 100%;
    font-size: 5rem;
    height: 2em;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-left: 0%;
    padding-right: 0%;

}

li,
input {
    height: 3em;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
}

li input {
    width: 100%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.boton-cero {
    background-color: #fff;
    border-color: black;
    color: #fff;
    height: 100%;
    width: 100%;
    grid-area: 6 / 1 / 6 /7;
}

ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3em;
    padding: 3em;
    list-style-type: none;
}