ul {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 5%;
    padding: 2em;
    list-style-type: none;
    margin: auto;
}

h1 {
    font-size: 5em;
}

main {
    position: absolute;
    border: 1em solid #ccc;
    border-radius: 1em;
    /* display: block;*/
    /*  transform: translate(-50%, -50%);*/
    width: 50%;
    height: 40%;
}

#expresion {
    width: 100%;
    font-size: 3rem;
    height: 2em;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-left: 0%;
    padding-right: 0%;

}

li,
input {
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
}

li input {
    width: 100%;
    height: 100%;
}

#contenido p {
    font-size: 1.75rem;
    text-align: center;
}

html {
    font-size: 62.5%;
}


.limpiar-ultimo {
    width: auto;
    height: auto;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    background-color: #fff;
    border-color: black;
    color: #fff;
    grid-area: 7 / 1 / 7 /5;
}

.limpiar-memoria {
    width: auto;
    height: auto;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    font-size: 2rem;
    background-color: #fff;
    border-color: black;
    color: #fff;
    grid-area: 8 / 1 / 8 /5;
}


body {
    margin-top: 5em;
}


@media screen and (min-width: 700px) {
    main {
        position: absolute;
        border: 1em solid #ccc;
        border-radius: 1em;
        /* display: block;*/
        /*  transform: translate(-50%, -50%);*/
        width: 50em;
        height: 35em;
    }
}
